.catalog {
  display: grid;
  grid-template-columns: repeat(auto-fill, 280px);
  flex-wrap: wrap;
  gap: 12px;
  justify-content: center;
}

.block {
  border: 1px solid rgb(194, 177, 177);
  padding: 5px;
  border-radius: 10px;
  background-color: white;
  display: grid;
  grid-template-rows: 2.5fr 1fr 1fr 2fr;
}

.title {
  text-align: center;
  font-size: 18px;
}

.price {
  color: rgb(165, 40, 56);
  font-size: 18px;
}

.id {
  font-size: 16px;
  font-weight: 300;
}

@media (max-width: 1200px) {
  .block {
    grid-template-rows: 2.5fr 1fr 1fr 1fr;
  }
  .title,
  .price {
    font-size: 16px;
  }
  .id {
    font-size: 14px;
  }
}

@media (max-width: 992px) {
  .block {
    grid-template-rows: 2fr 1fr 1fr 1fr;
  }
  .catalog {
    grid-template-columns: repeat(auto-fill, 260px);
  }
}
